:root {
  --primary-green: #1db954;

  --secondary-light-black: #181818;
  --secondary-black: #121212;
  --secondary-dark-black: #000000;
  --secondary-white: #ffffff;

  --neutral-light-gray: #b2b2b2;
  --neutral-gray: #777777;
  --neutral-dark-gray: #535353;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--secondary-dark-black);
  color: var(--secondary-white);
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

header {
  background: var(--secondary-black);
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  gap: 16px;
  padding: 8px 16px;
  border-radius: 21px;
  border: 1px solid var(--neutral-dark-gray);
  background: var(--secondary-light-black);
  width: fit-content;
}

.login {
  background: none;
  border: none;
  color: var(--neutral-gray);
  font-size: 1rem;
  transition: color 0.3s ease-in-out;
}

.login:hover {
  transition: color 0.3s ease-in-out;
  color: var(--neutral-light-gray);
}

.search-btn {
  background: transparent;
  border: none;
  color: var(--neutral-dark-gray);
  padding: 0;
}

.search-input {
  background: transparent;
  border: none;
  color: var(--secondary-white);
}

.search-input::placeholder {
  color: var(--neutral-dark-gray);
}

.result-container {
  max-width: 1440px;
  width: 100%;
  padding: 24px;
  display: flex;
  gap: 16px;
}

.artist-container {
  background: var(--secondary-black);
  transition: ease-out 0.3s;
  cursor: pointer;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  gap: 100px;
}

.play-icon {
  margin-top: auto;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-size: 1.5rem;
  background: var(--primary-green);
  color: var(--secondary-dark-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.play-icon i {
  padding-left: 3px;
}

.artist-container:hover {
  background: var(--secondary-light-black);
  transition: ease-out 0.3s;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  box-shadow: var(--secondary-dark-black) 0px 5px 15px;
  object-fit: cover;
  object-position: center;
}

.top-tracks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-grow: 1;
}

.track-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--neutral-light-gray);
  cursor: pointer;
  transition: color 0.2s ease-out, background 0.2s ease-out;
  padding: 5px 10px;
  border-radius: 5px;
}

.track-container:hover {
  transition: color 0.2s ease-out, background 0.2s ease-out;
  background: var(--secondary-light-black);
  color: var(--secondary-white);
}

.track-name {
  color: var(--secondary-white);
}

.track-artists-container {
  display: flex;
  gap: 5px;
}

.explicit {
  color: var(--secondary-light-black);
  background: var(--neutral-light-gray);
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.8rem;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-name-sm {
  transition: 0.2s ease-in;
  cursor: pointer;
  color: var(--neutral-light-gray);
}

.artist-name-sm:hover {
  transition: 0.2s ease-in;
  color: var(--secondary-white);
  text-decoration: underline;
}

.recent-card {
  flex-direction: column;
  gap: 16px;
  text-align: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  max-width: 182px;
}

.recent-card h3 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recent-cards-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.recent-search {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
}

.section-title {
  font-size: 2rem;
}

.recent-img-container {
  position: relative;
}

.recent-x {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.controls {
  background: var(--secondary-light-black);
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

.controls-container {
  display: flex;
  gap: 16px;
}

.controls-container button {
  font-size: 1.3rem;
  background: var(--primary-green);
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  transition: all 0.2s;
}

.controls-container button:active {
  transition: all 0.2s;
  transform: scale(0.96) translateY(2px);
}

.fa-play {
  padding-left: 3px;
}

@media (max-width: 850px) {
  .result-container {
    flex-direction: column;
  }

  .result-artist-container {
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }
}
